body {
    font-family: Georgia, serif;
    margin: 20px;
    line-height: 10px;
}
h1{
    display: none;
}
.link-link{
     color: #FDECEE;
     text-shadow: 2px 2px #629677;
}
.link-link:hover{
    color: #629677;
    text-shadow: 2px 2px #FDECEE;
}
.avatar{
    border: 5px solid #629677;
    border-radius: 20px;
}
.card{
    width: 400px;
    padding: 40px;
    background: d7bcc8;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background: #d7bcc8;
    border-bottom: 10px solid #629677;
    border-radius: 20px;
    inline height: 10px;
}
.card-text{
    color: #629677;
    width: 300px;
    display: inline; 
    padding: 10px;
    margin: 10px auto 0px 10px;
    text-align: center;
    line-height: .1em;
}
h4{
    font-weight: normal;
    font-family: Brush Script MT;
}
@-moz-document url-prefix() {
    .card-text{
        font-size: .8em;
    }
}
